ref=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/chr22_q11-21_GRCh38.fasta
profile=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/seqtoprofile/chr21_q11-21_test.profile
variation=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/simureads/simvar_case_single.txt
abundance=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/simureads/abundance_diseaseonly.txt
target=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/Twist_Exome_Target2_chr22q11-21_GRCh38_500pad.bed
name=normal,disease
output=/home/tutors/shared_didattica/simulations/eduomics_local_work/eduomics_testdata/dna/simureads/simu_reads_single
threads=12
coverage=50
layout=PE
